
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.titulo{
    
    width: 100%;
    height: 100px;
    border: 1px solid slategrey;
}

.titulo p{
    margin-top: 40px;
    font-family: var(--fonte-padrao);
    font-size: 1.7em;
    font-style: italic;
}
.titulo nav{
    text-align: right;
}
.titulo nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

.titulo nav a:hover{
    background-color: rgba(128, 128, 128, 0.486);
    border-radius: 20px;
    transition-duration: .5s;
}

.conteudo{
    border-top: 1px solid black;
    min-width: 200px;
    max-width: 600px;
    height: 100vh;
    margin: auto;
    text-align: justify;
}
.conteudo-i{
    min-width: 300px;
    max-width: 800px;
    height: 100vh;
    margin: auto;
    text-align: justify;
}

.contato h1{
    font-size: 3.5em;
    text-align: center;
}

.contato p{
    text-align: center;
    margin: 20px;
}

.inicio h1 {
    font-size: 3em;
    text-align: center;
}
.inicio p{
    text-align: center;
    margin: 20px;
}
.mim{
    text-align: center;
}

.mim p{
    margin: 20px;
}

.mim h1{
    font-size: 3em;
}

.projetos{
    text-align: center;
    

}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;  
    border-radius: 4px;
}

.botao{
    padding: 10px;
}

.botoes { 
    width: 50px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.438);
    border-radius: 4px ;
    cursor: pointer;
}
.botoes:hover{
    background-color: #17cf1d;
}
footer{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}